@import "_default";
@import "_burger";







@import "header";
@import "sectionHealth";
@import "sectionFeatures";

@import "footer";
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    }