@import "_default";
@import "_burger";
main{
position: relative;
z-index: 3
}
@import "header";
@import "sectionHealth";
@import "sectionFeatures";
@import "sectionExpert";
@import "sectionHealthCare";

@import "footer";
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    }

.features__img{
    z-index: -1;
}
